body{
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

p{
    font-size: large;
    font-weight: bolder;
}

span{
   width: fit-content;
   padding: 5px;

}

button{
    padding: 40px;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    width: 100px;
    background-color: red;
    color:white;
    font-weight: bold;
    border:2px solid rgb(48, 45, 45);
    cursor: pointer;
}