<header id="navbar-container">
  <nav id="main-nav">
    <ul id="inner-nav">
      <!-- Logo -->
      <li id="nav-logo">
        <div id="logo">
          <img src="../../../../assets/cart/logo1.PNG" alt="Company Logo">
         
        </div>
      </li>

      <!-- Search -->
      <li id="nav-search">
        <form action="no">
          <input type="search" name="search" id="search" placeholder="Search products..." aria-label="Search products" />
          <button type="submit" aria-label="Search">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </li>

      <!-- Links -->
      <li id="nav-links">
        <div class="nav-icon-link">
          <i class="fa fa-user"></i>
          <a routerLink ="/login">Login</a>
        </div>
        <!-- <div class="nav-icon-link">
          <i class="fa fa-user-shield"></i>
          <a routerLink="/admin">Admin</a>
        </div> -->
        <div class="nav-icon-link">
          <i class="fa fa-circle-question"></i>
          <a routerLink="/help">Help</a>
        </div>
        <!-- <div class="nav-icon-link cart-icon">
          <a routerLink="/cart" ><i class="fa fa-shopping-cart"></i> Cart <span class="cart-count">0</span></a>
        </div> -->
      </li>
    </ul>
  </nav>
</header>