<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <label>Current Password:</label>
  <input formControlName="currentPassword" type="password" />
  <br />

  <label>New Password:</label>
  <input formControlName="newPassword" type="password" />
  <br />

  <label>Confirm New Password:</label>
  <input formControlName="confirmPassword" type="password" />
  <br />

  <button type="submit" [disabled]="loading">Change Password</button>
</form>

<p *ngIf="success" class="success-message">{{ message }}</p>
<p *ngIf="!success && message && !loading" class="error-message">{{ message }}</p>
