<app-home-header></app-home-header>

<div class="account-info-container" *ngIf="user">
  <h3>Account Information</h3>

  <div class="info-item">
    <span class="label">First Name</span>
    <span class="value">{{ user.firstName }}</span>
  </div>

  <div class="info-item">
    <span class="label">Last Name</span>
    <span class="value">{{ user.lastName }}</span>
  </div>

  <div class="info-item">
    <span class="label">Email</span>
    <span class="value">{{ user.email }}</span>
  </div>

  <div class="info-item">
    <span class="label">Mobile</span>
    <span class="value">{{ user.mobile }}</span>
  </div>
</div>

<app-footer></app-footer>
